/*---------------------------------- MON STYLE GENERAL -----------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1400px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
}

iframe{
    max-width: 100%;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.align{
    align-items: center;
}

ul{
    list-style: none;
}

.bg-color{
    background-color: black;
}

/*-------------------------------------------- MON HEADER NAV DEROULANTE ----------------------------- */

.manav_cach{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.manav_cach a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.manav_cach a:hover {
    background-color: #ddd;
}

.manav:hover .manav_cach{
    display: block;
}

/*-------------------------------------------- MON HEADER ----------------------------- */

header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

header > .flex{
    flex-wrap: wrap;
}

.manav > .flex{
    flex-wrap: wrap;
}


.flex li{
    list-style: none;
    padding: 5px;
}
                            
.flex a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.in_h{
    padding:10px;
    margin: 10px;
}

.manav_cach {
    padding: 10px;
}

.h1, .h2, .h3, .h4{
    margin: 0;
    padding: 0;
}

/* ------------------------------  LA BOUTIK ------------------*/

.comm{
    margin: 10px auto;
    width: 85%;
    padding: 25px;
    text-align: center;
}

.welcome{
    font-weight: bold;
    color: #303952;
    font-size: 16px;
    margin: 5px auto;
}
.club{
    text-transform: uppercase;
    font-size: 30px;
    color: #303952;
    font-weight: bold;
    margin: 5px auto;
}
.inscrip{
    margin: auto;
    text-align: center;
    margin: 10px auto;
    width: 50%;
    margin-bottom: 25px;
}

.wel_club{
    margin: 10px auto;
    width: 50%;
    text-align: center;
    margin-bottom: 40px;
}

.join{
    background-color: #303952;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.t_align{
    text-align: center;
    width: 75%;
    border: 1px solid;
    margin: 5px auto;
    padding: 15px;
    display: block;
}

.decouvrir_titr{
    background-color: #303952;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    width: 85%;
    margin: 20px auto;
    font-size: 25px;
}

.vest_hf img{
    max-width: 100%;
    height: 100%;                  
    width: 100%;
    object-fit: cover;
    display: block;
}

.vest_hf{
    width: 30%;
}

.vestiair{
    position: relative;
    text-align: center;
}

.show{
    width: 30%;
    text-align: justify;
    margin-top: 15px;
    font-style: italic;
}

.button {
    background-color: white;
    opacity: 0.9;
    border: none;
    color: #303952;
    width: 85%;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    position: absolute;
    top: 85%;
    left: 15px;
    display: block;
    margin: 0 auto;
}

.button:hover{
    background-color: #303952;
    color: white;
}

.discover a:hover{
    color: #303952;
}

.vestiair a{
    font-size: 16px;
}

.discover a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 77%;
    left: 30%;
}

.sect_boutik{
    margin-top: 100px;
}

.shop1{
    width: 85%;
    height: 35%;
    margin: auto;
}

.shop1 img{
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.shop2 img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.shop2{
    width: 30%;
}

/* --------------------------------- MON FOOTER -------------------------------- */

.fall{
    background-color: black;
}
.foot{
    width: 25%;
    color: white;
    padding: 10px;
}
/* --------------------------------- MENTIONS LEGALES / CONTACT -------------------------------- */

input:not([type=checkbox], [class=in_h]){
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

/* --------------------------------- CDTS DE VENTE -------------------------------- */

/* --------------------------------- PLAN -------------------------------- */

.plan{
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 20px;
    font-style: italic;
}

/* --------------------------------- PRINT -------------------------------- */

/* --------------------------------- RESEAUX SOCIAUX -------------------------------- */

.social img{
    width: 2%;
    margin: 5px;
}

.social{
    display: inline;
}

.media{
    text-align: center;
    text-transform: uppercase;
}

/* ------------------------- MON RESPONSIVE MEDIA QUERIES ----------------------------- */

@media screen and (max-width: 1400px) {

    .container{
        max-width: 1200px;
    }
}

/* @media screen and (max-width: 1000px) {

    .block_imag{
        width: calc(100% / 3); 
    }
} */

/* @media screen and (max-width: 768px) {

    .prod1,
    .sect_prd1,
    .sect_prd2,
    .prod2{
        width: 50%; 
    }
} */

@media screen and (max-width: 576px) {

    .prod1,
    .sect_prd1,
    .sect_prd2,
    .prod2,
    .prod,
    .foot{
        width: 100%;
    }

    .fall, .foot, .plan{
        width: 100%;
        text-align: center;
    }

    .boutik_p{
        position: initial;
        width: 100%;
        background-color: black;
        color: white;
    }

    .actu_p, .actu{
        width: 100%;
        text-align: center;
    }

    .mesavis{
        background-color: #95afc0;
        color: white;
        width: 100%;
        padding: 15px;
        font-style: italic;
        font-weight: lighter;
    }

    .avis{
        width: 100%;
    }

    .avis img{
        border-radius: 0;
        width: 100%;
    }

    .avis_p{
        width: 100%;
    }

    .reserv{
        width: 100%;
        text-align: center;
        margin: 15px;
    }
    
    .pdv_p{
        margin: 5px auto;
        color: black;
        text-align: center;
    }
    
    .pdv img{
        width: 100%;
        margin-bottom: 10px;
    }

                /* MA SECTION PRODUITS */

    .prod{
        text-align: center;
        width: 100%;
    }
} 





@media screen and (max-width: 945px) {

    .h1, .h2, .h3{
        width: 100%;
        text-align: center;
    }

    .vest_hf{
        width: 45%;
        margin: 10px;
    }

    .show{
        display: none;
    }

    .and{
        margin-top: 150px;
    }
}


@media screen and (max-width: 570px) {

    .manav .flex > li{
        width: 100%;
        text-align: center;
    }

    header{
        position: inherit;
    }

    .vest_hf{
        width: 100%;
    }

    .show{
        width: 100%;
        display: block;
        margin: 10px;
    }

    .wel_club{
        width: 100%;
    }

    .comm{
        margin-top: -100px;
    }
}