/*---------------------------------- MON STYLE GENERAL -----------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
}

iframe{
    max-width: 100%;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.align{
    align-items: center;
}

ul{
    list-style: none;
}

.bg-color{
    background-color: black;
}

.marg{
    margin: 30px;
}

/*-------------------------------------------- MON HEADER NAV DEROULANTE ----------------------------- */

.manav_cach{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.manav_cach a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.manav_cach a:hover {
    background-color: #ddd;
}

.manav:hover .manav_cach{
    display: block;
}

/*-------------------------------------------- MON HEADER ----------------------------- */

header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

header > .flex{
    flex-wrap: wrap;
}

.manav > .flex{
    flex-wrap: wrap;
}

.flex li{
    list-style: none;
    padding: 5px;
}
                            
.flex a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.in_h{
    padding:10px;
    margin: 10px;
}

.manav_cach {
    padding: 10px;
}

.h1, .h2, .h3, .h4{
    margin: 0;
    padding: 0;
}

/* ------------------------------- MON MAIN ---------------------------*/

/* ------------------------------ NOS PRODUITS ------------------*/

.decouvrir_titr{
    background-color: #303952;
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.main_marg{
    margin-top: 100px;
}

.vest_hf img{
    max-width: 100%;
    height: 100%;                  
    width: 100%;
    object-fit: cover;
    display: block;
}

.vest_hf{
    width: 30%;
}

.vestiair{
    position: relative;
    text-align: center;
}

.button {
    background-color: white;
    opacity: 0.9;
    border: none;
    color: black;
    width: 85%;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    position: absolute;
    top: 85%;
    left: 15px;
    display: block;
    margin: 0 auto;
}

.button:hover{
    background-color: black;
    color: white;
}

.discover a:hover{
    color: black;
}

.vestiair a{
    font-size: 16px;
}

.discover a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 77%;
    left: 30%;
}

.button1{
    background-color: black;
    opacity: 0.9;
    border: none;
    color: white;
    width: 85%;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 85%;
    left: 24px;
    margin: 0 auto;
}

/* ------------------------------ BILAN CARBONE ------------------*/ 

.bilan{
    font-size: 20px;
    padding: 20px;
    background-color: #218c74;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

/* ------------------------------ LOOK ELEGANT, ... ------------------*/

.title{
    text-align: center;
    font-size: 30px;
    margin: 15px auto;
}

.title_text{
    text-align: justify;
    width: 75%;
    margin: 5px auto;
}

/* ------------------------------ LOOK IMGS ------------------*/

.l_img1{
    width: 25%;
}

.l_img2{
    width: 45%;
}

.l_img3{
    width: 25%;
}

.look_prd img{
    max-width: 100%;
    height: 100%;                  
    width: 100%;
    object-fit: cover;
}

.t_align{
    text-align: center;
    width: 75%;
    border: 1px solid;
    margin: 5px auto;
    padding: 15px;
    display: block;
}

.t_align:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.marg2{
    margin-bottom: 80px;
}

.l_img4{
    width: 35%;
    margin: 0 auto;
}

/* --------------------------------- MON FOOTER -------------------------------- */

.fall{
    background-color: black;
}
.foot{
    width: 25%;
    color: white;
    padding: 10px;
}
/* --------------------------------- MENTIONS LEGALES / CONTACT -------------------------------- */

input:not([type=checkbox], [class=in_h]){
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

/* --------------------------------- CDTS DE VENTE -------------------------------- */

/* --------------------------------- PLAN -------------------------------- */

.plan{
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 20px;
    font-style: italic;
}

/* --------------------------------- PRINT -------------------------------- */

/* --------------------------------- RESEAUX SOCIAUX -------------------------------- */

.social img{
    width: 2%;
    margin: 5px;
}

.social{
    display: inline;
}

.media{
    text-align: center;
    text-transform: uppercase;
}

/* ------------------------- MON RESPONSIVE MEDIA QUERIES ----------------------------- */

@media screen and (max-width: 1400px) {

    .container{
        max-width: 1200px;
    }
}


@media screen and (max-width: 576px) {

    .prod1,
    .sect_prd1,
    .sect_prd2,
    .prod2,
    .prod,
    .foot{
        width: 100%;
    }

    .fall, .foot, .plan{
        width: 100%;
        text-align: center;
    }

    .boutik_p{
        position: initial;
        width: 100%;
        background-color: black;
        color: white;
    }

    .actu_p, .actu{
        width: 100%;
        text-align: center;
    }

    .mesavis{
        background-color: #95afc0;
        color: white;
        width: 100%;
        padding: 15px;
        font-style: italic;
        font-weight: lighter;
    }

    .avis{
        width: 100%;
    }

    .avis img{
        border-radius: 0;
        width: 100%;
    }

    .avis_p{
        width: 100%;
    }

    .reserv{
        width: 100%;
        text-align: center;
        margin: 15px;
    }
    
    .pdv_p{
        margin: 5px auto;
        color: black;
        text-align: center;
    }
    
    .pdv img{
        width: 100%;
        margin-bottom: 10px;
    }

                /* MA SECTION PRODUITS */

    .prod{
        text-align: center;
        width: 100%;
    }

    .vest_hf{
        width: 100%;
        margin-bottom: 5px;
    }
} 


@media screen and (max-width: 945px) {

    .h1, .h2, .h3{
        width: 100%;
        text-align: center;
    }

    .bilan{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 0px;
    }

    .decouvrir_titr{
        margin-top: 200px;
    }
 
    .vest_hf{
        width: 45%;
        margin: 10px;
    }

    .t_align{
        width: 100%;
    }

    .l_img1, .l_img2, .l_img3{
        width: 45%;
        margin: 10px;
        margin-bottom: 80px;
    }

    .l_img4{
        margin-top: 0;
        width: 50%;
    }
}


@media screen and (max-width: 570px) {

    .manav .flex > li{
        width: 100%;
        text-align: center;
    }

    header{
        position: inherit;
    }

    .main_marg{
        margin-top: 0;
    }

    .look_prd{                 
        width: 100%;
    }

    .t_align{
        width: 100%;
    }

    .title_text{
        width: 100%;
    }

    .last{
        display: block;
    }

    .l_img4{
        width: 100%;
    }

    .bord_img4{
        border: none;
    }

    .marg2{
        margin: 5px;
    }

    .classic{
        text-align: center;
        width: 100%;
        height: 50px;
        border: 1px solid;
        margin: 5px auto;
        padding: 15px;
    }

    .decouvrir_titr{
        margin-top: 0;
    }

    .vest_hf{
        width: 100%;
    }
}